<?xml version="1.0" ?>
<!--
  ~ @author    JaJuMa GmbH <info@jajuma.de>
  ~ @copyright Copyright (c) 2020 JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
  ~ @license   http://opensource.org/licenses/mit-license.php MIT License
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Block\Account\Navigation">
        <plugin name="Jajuma_CustomerNavigation_Plugin_Magento_Customer_Block_Account_Navigation" sortOrder="10" type="Jajuma\CustomerNavigation\Plugin\Magento\Customer\Block\Account\Navigation"/>
    </type>

</config>