<?xml version="1.0"?>
<!--
  ~ @author    JaJuMa GmbH <info@jajuma.de>
  ~ @copyright Copyright (c) 2020 JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
  ~ @license   http://opensource.org/licenses/mit-license.php MIT License
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="jajuma" sortOrder="999" class="jajuma-tab" translate="label">
            <label>Jajuma</label>
        </tab>
        <section id="jajuma_customer_navigation" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Navigation Manager</label>
            <tab>jajuma</tab>
            <resource>Jajuma_CustomerNavigation::jajuma_customer_navigation</resource>
            <group id="extension_info" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Extension Information</label>
                <attribute type="expanded">1</attribute>
                <field id="extension_info_text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" type="text">
                <frontend_model>Jajuma\CustomerNavigation\Block\System\Config\Form\Jajuma\Module</frontend_model>
                    <comment><![CDATA[
		      <div style="margin:auto;padding:10px;background-color:#f1f1f1;display:inline-block;width:97%;">
                        <div class="box-img" style="width: 20%;float: left;">
                            <a href="https://www.jajuma.de/en" title="Magento 2 Customer Navigation Manager Extension" target="_blank">
			    <div class="jajuma-extlogo"></div>
                            </a>
                            <strong style="font-size: 10px;">Copyright ©
                                <script>var today = new Date();
                                document.write(today.getFullYear());</script>
                                <a href="https://www.jajuma.de/en" target="_blank">www.jajuma.de</a>
                            </strong>
                            <div style="margin-top: 5px;">
                                <a href="https://www.jajuma.de/en/jajuma-shop/online-shop-with-magento-2-and-hyva-themes" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 400 400"
                                    class="w-10 h-10" width="25" height="25" style="position: relative;top: 5px;">
                                    <rect width="400" height="400" fill="#F6F7FF"></rect>
                                    <path d="M222.131 112.458L237.41 66.8783H290.403L275.043 112.458H222.131Z" fill="#14FFAF"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M158.026 174.716C172.966 162.84 191.165
                                    155.37 211.659 155.37C253.609 155.37 294.409 182.196 294.409
                                    250.953V336H240.776V250.953C240.776 215.516 223.929 202.107 200.933 202.107C181.969
                                    202.107 168.181 213.026 160.516 224.517V336H106.692V115.336H74L91.2077
                                    64H158.026V174.716ZM272.988 109.567L286.407 69.7565H239.485L226.132
                                    109.567H272.988ZM235.338 64H294.409L277.112 115.336H218.13L235.338 64Z"
                                    fill="#0A23B9"></path>
                                    </svg>
                                    <span style="font-size: 16px;font-weight: 900;"> Theme Compatible</span>
                                </a>
                            </div>
                        </div>
                        <div style="width: 77%;float: left;padding-left: 3%;">
                            <div class="name" style="font-size: 16px;">
                                <b>Magento 2 Customer Navigation Manager</b> by <a href="https://www.jajuma.de/en" target="_blank"><b>JaJuMa</b></a>
				        <div class="jajuma-minilogo"></div>
                            </div>
                            <hr>
                            <br>
                            <div class="more"><b>More Information About This Extension:</b>
                                <br>
                                <div><a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-navigation-manager-extension-for-magento-2"
				                    target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 576 512" class="w-10 h-10" width="15" height="15"
				                style="position: relative;top: 2px;">
				                <!--! Font Awesome Free 6.0.0 by @fontawesome - https://fontawesome.com License -
				                https://fontawesome.com/license/free (Icons: CC BY 4.0,
				                Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
				                <path d="M575.8 255.5C575.8 273.5 560.8 287.6 543.8 287.6H511.8L512.5 447.7C512.5
				                450.5 512.3 453.1 512 455.8V472C512 494.1 494.1 512 472 512H456C454.9 512 453.8
				                511.1 452.7 511.9C451.3 511.1 449.9 512 448.5 512H392C369.9 512 352 494.1 352
				                472V384C352 366.3 337.7 352 320 352H256C238.3 352 224 366.3 224 384V472C224 494.1
				                206.1 512 184 512H128.1C126.6 512 125.1 511.9 123.6 511.8C122.4 511.9 121.2 512 120
				                512H104C81.91 512 64 494.1 64 472V360C64 359.1 64.03 358.1 64.09 357.2V287.6H32.05C14.02
				                287.6 0 273.5 0 255.5C0 246.5 3.004 238.5 10.01 231.5L266.4 8.016C273.4 1.002 281.4 0
				                288.4 0C295.4 0 303.4 2.004 309.5 7.014L564.8 231.5C572.8 238.5 576.9 246.5 575.8
				                255.5L575.8 255.5z"></path></svg> Website</a> |
				                   <a href="https://www.jajuma.de/sites/default/files/ckfinder/userfiles/images/jajuma-develop/customer-navigation-manager-magento/JaJuMa_Customer_Navigation_Manager_Manual_v003.pdf"
				                    target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 448 512" class="w-10 h-10" width="15" height="15"
				                style="top: 2px;position: relative;">
				                <!--! Font Awesome Free 6.0.0 by @fontawesome - https://fontawesome.com License -
				                https://fontawesome.com/license/free (Icons: CC BY 4.0,
				                Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
				                <path d="M448 336v-288C448 21.49 426.5 0 400 0H96C42.98 0 0 42.98 0 96v320c0 53.02
				                42.98 96 96 96h320c17.67 0 32-14.33 32-31.1c0-11.72-6.607-21.52-16-27.1v-81.36C441.8
				                362.8 448 350.2 448 336zM143.1 128h192C344.8 128 352 135.2 352 144C352 152.8 344.8 160
				                336 160H143.1C135.2 160 128 152.8 128 144C128 135.2 135.2 128 143.1 128zM143.1
				                192h192C344.8 192 352 199.2 352 208C352 216.8 344.8 224 336 224H143.1C135.2 224 128
				                216.8 128 208C128 199.2 135.2 192 143.1 192zM384 448H96c-17.67 0-32-14.33-32-32c0-17.67
				                14.33-32 32-32h288V448z"></path></svg> Manual</a> |
				                   <a href="https://demo.extension.jajuma.de/"
				                    target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 512 512" class="w-10 h-10" width="15" height="15"
				                style="position: relative;top: 2px;"><!--! Font Awesome Free 6.0.0 by @fontawesome -
				                https://fontawesome.com License - https://fontawesome.com/license/free
				                (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons,
				                Inc. --><path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8
				                87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08
				                166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95
				                15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128
				                128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z">
				                </path></svg> Luma Demo</a>
				                <a href="https://hyva.extension.jajuma.de/"
				                target="_blank"><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
				                viewBox="0 0 400 400" class="w-10 h-10" width="20" height="20" style="position:
				                relative;top: 5px;">    <rect fill="#fff"></rect>    <path d="M222.131 112.458L237.41
				                66.8783H290.403L275.043 112.458H222.131Z"></path>    <path fill-rule="evenodd"
				                clip-rule="evenodd" d="M158.026 174.716C172.966 162.84 191.165 155.37 211.659
				                155.37C253.609 155.37 294.409 182.196 294.409 250.953V336H240.776V250.953C240.776
				                215.516 223.929 202.107 200.933 202.107C181.969 202.107 168.181 213.026 160.516
				                224.517V336H106.692V115.336H74L91.2077 64H158.026V174.716ZM272.988 109.567L286.407
				                69.7565H239.485L226.132 109.567H272.988ZM235.338 64H294.409L277.112
				                115.336H218.13L235.338 64Z"></path></svg> Hyvä Theme Demo</a>
				                <div style="float: right;">Installed Version: <b>1.2.4</b></div>
				                </div>
                            </div>
                            <hr>
                            <br>
                            <div class="info"><b>Discover More Ideas To Improve Your Store:</b>
                                <br>
                                <div class="more-ideas-list">
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/ultimate-image-optimizer-extension-for-magento-2"
                                       target="_blank">Ultimate Image Optimizer</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/shariff-social-share-buttons-extension-for-magento-2"
                                       target="_blank">Shariff Social Share Buttons</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/webp-optimized-images-extension-for-magento-2"
                                       target="_blank">WebP Optimized Images</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/prg-pattern-link-masking-for-magento-2"
                                       target="_blank">PRG Pattern Link Masking</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/video-widget-gdpr-extension-for-magento-2"
                                       target="_blank">Video Widget</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/page-preload-extension-for-magento-2"
                                       target="_blank">Page Preload</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/honey-spam-anti-spam-extension-for-magento-2"
                                       target="_blank">Honey Spam Anti-Spam</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/matomo-analytics-extension-for-magento-2"
                                       target="_blank">Matomo Analytics</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-registration-reminder-and-cleanup-extension-for-magento-2"
                                       target="_blank">Customer Registration Reminder & Cleanup</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/category-grid-callouts-extension-for-magento-2"
                                       target="_blank">Category Grid Callouts</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/customer-satisfaction-feedback-extension-for-magento-2"
                                       target="_blank">Customer Satisfaction Feedback</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/font-awesome-icons-for-hyva-themes-extension"
                                       target="_blank"><b>Free:</b> Awesome Hyvä</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/dynamic-shipping-tax-extension-for-magento-2"
                                       target="_blank"><b>Free:</b> Dynamic Shipping Tax</a>
                                    <a href="https://www.jajuma.de/en/jajuma-develop/extensions/hyva-faq-widget-extension-for-hyva-themes"
                                       target="_blank"><b>Free:</b> Hyvä FAQ Widget</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    ]]></comment>
                </field>
	        </group>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/general/enabled</config_path>
                </field>
            </group>
            <group id="settings" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>

                <field id="heading_default_tabs" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Config Magento Default Customer Navigation Tabs</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                  
                </field>

                <field id="show_account" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show My Account</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_account</config_path>
                </field>
                <field id="position_account" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>My Account Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_account</config_path>
                    <depends>
                        <field id="show_account">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_orders" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show My Orders</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_orders</config_path>
                </field>
                <field id="position_orders" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>My Orders Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_orders</config_path>
                    <depends>
                        <field id="show_orders">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_downloadable_products" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show My Downloadable Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_downloadable_products</config_path>
                </field>
                <field id="position_downloadable_products" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>My Downloadable Products Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_downloadable_products</config_path>
                    <depends>
                        <field id="show_downloadable_products">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_wishlist" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show My Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_wishlist</config_path>
                </field>
                <field id="position_wishlist" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>My Wishlist Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_wishlist</config_path>
                    <depends>
                        <field id="show_wishlist">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_address_book" translate="label comment" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Address Book</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_address_book</config_path>
                </field>
                <field id="position_address_book" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Address Book Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_address_book</config_path>
                    <depends>
                        <field id="show_address_book">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_account_edit" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Account Information</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_account_edit</config_path>
                </field>
                <field id="position_account_edit" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account Information Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_account_edit</config_path>
                    <depends>
                        <field id="show_account_edit">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_cards" translate="label comment" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Stored Payment Methods</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_cards</config_path>
                </field>
                <field id="position_cards" translate="label comment" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stored Payment Methods Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_cards</config_path>
                    <depends>
                        <field id="show_cards">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_billing_agreements" translate="label comment" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Billing Agreements</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_billing_agreements</config_path>
                </field>
                <field id="position_billing_agreements" translate="label comment" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Billing Agreements Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_billing_agreements</config_path>
                    <depends>
                        <field id="show_billing_agreements">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_reviews" translate="label comment" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show My Product Reviews</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_reviews</config_path>
                </field>
                <field id="position_reviews" translate="label comment" type="text" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product Reviews Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_reviews</config_path>
                    <depends>
                        <field id="show_reviews">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_newsletter" translate="label comment" type="select" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Newsletter Subscriptions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_newsletter</config_path>
                </field>
                <field id="position_newsletter" translate="label comment" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter Subscriptions Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_newsletter</config_path>
                    <depends>
                        <field id="show_newsletter">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="heading_hyva" translate="label comment" sortOrder="205" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configs for Hyvä Themes:</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                  
                </field>

                <field id="show_hyva_divider_1" translate="label comment" type="select" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Divider</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_hyva_divider_1</config_path>
                </field>
                <field id="position_hyva_divider_1" translate="label comment" type="text" sortOrder="215" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Divider Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_hyva_divider_1</config_path>
                    <depends>
                        <field id="show_hyva_divider_1">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>
                <field id="show_hyva_logout" translate="label comment" type="select" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Logout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_hyva_logout</config_path>
                </field>
                <field id="position_hyva_logout" translate="label comment" type="text" sortOrder="225" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logout Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_hyva_logout</config_path>
                    <depends>
                        <field id="show_hyva_logout">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>


                <field id="heading_luma" translate="label comment" sortOrder="225" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configs for Luma Frontend:</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                  
                </field>

                <field id="show_divider_1" translate="label comment" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Divider 1</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_divider_1</config_path>
                </field>
                <field id="position_divider_1" translate="label comment" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Divider 1 Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_divider_1</config_path>
                    <depends>
                        <field id="show_divider_1">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>
                <field id="show_divider_2" translate="label comment" type="select" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Divider 2</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_divider_2</config_path>
                </field>
                <field id="position_divider_2" translate="label comment" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Divider 2 Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_divider_2</config_path>
                    <depends>
                        <field id="show_divider_2">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="heading_custom_tabs" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configs for Custom Tabs:</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                  
                </field>

                <field id="show_custom_1" translate="label comment" type="select" sortOrder="310" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Custom Link 1</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_custom_1</config_path>
                </field>

                <field id="link_custom_1" translate="label comment" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 1 Path</label>
                    <config_path>jajuma_customer_navigation/settings/link_custom_1</config_path>
                    <depends>
                        <field id="show_custom_1">1</field>
                    </depends>
                    <comment><![CDATA[
                            Input the path for your custom link. E. g.:<br />For https://yourdomain.de/sales/order/history<br />-> Input: sales/order/history<br />
			   <span style="color:red"><b>Please Note:</b><br>
			    This config is for sorting links added by 3rd party extensions.<br>
			    It is not for adding new links to your customer account</span>
                        ]]>
                    </comment>
                </field>
                <field id="position_custom_1" translate="label comment" type="text" sortOrder="330" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 1 Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_custom_1</config_path>
                    <depends>
                        <field id="show_custom_1">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_custom_2" translate="label comment" type="select" sortOrder="340" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Custom Link 2</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_custom_2</config_path>
                </field>
                <field id="link_custom_2" translate="label comment" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 2 Path</label>
                    <config_path>jajuma_customer_navigation/settings/link_custom_2</config_path>
                    <depends>
                        <field id="show_custom_2">1</field>
                    </depends>
                    <comment><![CDATA[
                            Input the path for your custom link. E. g.:<br />For https://yourdomain.de/sales/order/history<br />-> Input: sales/order/history<br />
			   <span style="color:red"><b>Please Note:</b><br>
			    This config is for sorting links added by 3rd party extensions.<br>
			    It is not for adding new links to your customer account</span>
                        ]]>
                    </comment>
                </field>
                <field id="position_custom_2" translate="label comment" type="text" sortOrder="360" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 2 Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_custom_2</config_path>
                    <depends>
                        <field id="show_custom_2">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_custom_3" translate="label comment" type="select" sortOrder="370" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Custom Link 3</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_custom_3</config_path>
                </field>
                <field id="link_custom_3" translate="label comment" type="text" sortOrder="380" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 3 Path</label>
                    <config_path>jajuma_customer_navigation/settings/link_custom_3</config_path>
                    <depends>
                        <field id="show_custom_3">1</field>
                    </depends>
                    <comment><![CDATA[
                            Input the path for your custom link. E. g.:<br />For https://yourdomain.de/sales/order/history<br />-> Input: sales/order/history<br />
			   <span style="color:red"><b>Please Note:</b><br>
			    This config is for sorting links added by 3rd party extensions.<br>
			    It is not for adding new links to your customer account</span>
                        ]]>
                    </comment>
                </field>
                <field id="position_custom_3" translate="label comment" type="text" sortOrder="390" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 3 Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_custom_3</config_path>
                    <depends>
                        <field id="show_custom_3">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="show_custom_4" translate="label comment" type="select" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Custom Link 4</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_custom_4</config_path>
                </field>
                <field id="link_custom_4" translate="label comment" type="text" sortOrder="410" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 4 Path</label>
                    <config_path>jajuma_customer_navigation/settings/link_custom_4</config_path>
                    <depends>
                        <field id="show_custom_4">1</field>
                    </depends>
                    <comment><![CDATA[
                            Input the path for your custom link. E. g.:<br />For https://yourdomain.de/sales/order/history<br />-> Input: sales/order/history<br />
			   <span style="color:red"><b>Please Note:</b><br>
			    This config is for sorting links added by 3rd party extensions.<br>
			    It is not for adding new links to your customer account</span>
                        ]]>
                    </comment>
                </field>
                <field id="position_custom_4" translate="label comment" type="text" sortOrder="420" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Link 4 Position</label>
                    <config_path>jajuma_customer_navigation/settings/position_custom_4</config_path>
                    <depends>
                        <field id="show_custom_4">1</field>
                    </depends>
                    <comment>Make sure this value is unique.</comment>
                    <validate>validate-digits</validate>
                </field>

                <field id="heading_3rd_party" translate="label comment" sortOrder="505" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configs 3rd Party Tabs:</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>                  
                </field>

                <field id="show_3rd_party_links" translate="label comment" type="select" sortOrder="510" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Other Custom/3rd Party Links</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>jajuma_customer_navigation/settings/show_3rd_party_links</config_path>
                </field>

            </group>
        </section>
    </system>
</config>